@import "../colors.scss";

.container {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.grid {
  margin: 0 auto;
  display: inline-block;
  border-right: 1px solid $border_color;
  border-bottom: 1px solid $border_color;
}

.grid_row {
  display: flex;
  flex-direction: row;
}
