.each_node {
  width: 3vh;
  height: 3vh;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  cursor: pointer;
  background-color: #F8F8F8;
  // light-white: #F8F8F8, light-grey: #EFEFF0, light-purple: #D5CAD6, light-greygreen: #DADDD8
  // light-pink: #EDBFB7
  transition: background-color 0.3s ease-out;
}